/*corps de la page */
* {
margin: 0;
padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

/* répartition des blocks */
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* haut de la page */

header {
  text-align: center;
  padding: 20px 0;
}
header a {
  text-decoration: none;
}

/* titre (Photo-intenso) */

header h1 {
  font-family: "Pacifico" , cursive;
  font-size: 36px;
  margin: 0;
  color: #f78a76;
}

/* menu du haut de page */

#menu-burger {
  display: none;
  cursor: pointer;
}

/* Par défaut (desktop): menu visible, burger caché */
.burger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}


.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  z-index: 1001;
}

.bar1, .bar2, .bar3 {
 width: 35px;
 height: 5px;
 background-color: black;
 margin: 6px 0;
 border-radius: 3px;
 transition: 0.4s;
}

.nav-smartphone {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1000;
 left: 0;
 top: 0;
 background-color: rgba(0,0,0,0.95);
 overflow-x: hidden;
 transition: 0.5s;
}

.nav-smartphone-liens {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
}


.nav-smartphone a {
  display: block;
  padding: 15px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-smartphone a:hover {
  color: #ccc;
}

.bouton-fermer {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}


nav ul {
  display: flex;
  justify-content: center; /*centre les liens horizontalement */
  gap: 30px; /*espace entre les liens */
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

nav ul li a:hover {
  text-decoration: underline; /*surlignage au vol*/
  color: #f78a76
}


/* premier block */

.hero-banner {
  width: 100%;
  background-image: url("images/paysage.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-banner-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  color: #000;
  text-align: center;
  padding-top: 20px;
}

/* titre h2 (des images incroyables) */
.hero-banner-content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  color: #f78a76;
  margin-bottom: 20px;
}

.hero-banner-texte-cadre {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.hero-banner-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  opacity: 1;
  margin-bottom: 30px;
}

/* ajout d'un bouton au premier block */
.cta-button {
   width: 30%;
  background-color: #f78a76;
  padding: 9px 24px;
  border: none;
  border-radius: 2px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e67260;
  cursor: pointer;
}

.cta-button a {
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: #f78a76;
  font-family: 'Montserrat', sans-serif;
}

/* deuxième block */
.central-description {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 80px 20px;
  gap: 20px;
  display: flex;
}

.text-block-droite,
.text-block-gauche {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-block-gauche {
  text-align: right;
  align-items: flex-end;
  /* aligne les éléments à droite dans la colonne */
}

.text-block-droite {
  text-align: left;
}

.text-item {
  margin: 15px;
}

/* titre h3 (Portraits)*/
.text-item h3 {
  font-family: 'Montserrat', sans-serif;
  color: #25A2C3;
  font-size: 1.2rem;
}

.text-item p {
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  margin-top: 12px;
}

.center-image img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #f2f2f2;
}

/* troisième block */
.avis-cta {
  text-align: center;
  padding: 90px 20px;
  background-color: #e67260;
  color: #fff;
  width:100%;
  box-sizing: border-box;
}

/* titre h4 (Livrez-nous votre avis) */
.avis-cta h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}


.avis-cta p {
  font-size: 0.8rem;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}
/* ajout d'un bouton */
.avis-cta .cta-button {
   background-color: #fff;
  color: #e67260;
  padding: 9px 15px;
  border-radius: 6px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
  -moz-transition: background-color 0.3s ease, opacity 0.3s ease;
  -ms-transition: background-color 0.3s ease, opacity 0.3s ease;
  -o-transition: background-color 0.3s ease, opacity 0.3s ease;
}

.avis-cta .cta-button:hover {
  opacity: 0.7;
}

/* quatrième block */
.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.articles {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  gap: 30px;
  flex-wrap: wrap;
}

.article {
  width: 100%; 
  background-color: #fff;
  border-radius: 5px ;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb (204, 204, 204, 0.6);
  max-width: 230px;
  margin: 15px;
}

.article-img {
  width: 100%;
  height: 140px;
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover;
}

/* titre h5 (sur la riviere) */
.article h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 10px 0 8px;
  text-align: left;
}

.article h5 a {
  text-decoration: none;
  color: #25A2C3;
}

.article h5 a:hover {
  text-decoration: underline;
}

.article p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #777;
  margin: 8px 0 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

/* pied de page */
.footer-blue {
  background-color: #25A2C3;
  color: #fff;
  padding: 20px 0px 10px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 150px;
  position: relative;
}

.footer-title {
  font-size: 26px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.footer-item-row {
  display: flex;
  justify-content: center; /* centre tous les items horizontalement */
  gap: 40px;  /* espace entre chaque bloc */
  flex-wrap: wrap;  /* pour gérer les petits écrans */
  margin-bottom: 60px;
  flex-grow: 1;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
}


.footer-item i {
  font-size: 18px;
  min-width: 18px;
}

.footer-item p {
  margin: 0;
  font-size: 14px;
}

.footer-copy {
  border-top: 0.5px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  width: 100%;
  margin-top: auto;
}

/* media query du haut-de-page*/
@media screen and (max-width: 768px) {
  .hero-banner-content {
    padding: 20px;
    text-align: center;
  }

  .hero-banner-content h2 {
    font-size: 24px;
  }

  .hero-banner-content p {
    font-size: 14px;
  }

  .cta-button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .central-description {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .text-block-gauche,
  .text-block-droite {
    width: 90%; 
    margin-bottom: 20px;
    text-align: center;
    align-items: normal;
  }

  .center-image img {
    max-width: 100%;
    height: auto;
  }

  .articles {
    flex-direction: column;
    align-items: center;
  }

  .article {
    width: 90%;
    margin-bottom: 20px;
  }

  /* media query pour avoir le burger sur mobile et pas ordinateur */

  nav .nav-menu {
    display: none;
  }
  .nav-smartphone {
    width: 0;
    transition: 0.5s;
    overflow-x: hidden;
  }

  .nav-smartphone.ouvert {
   width: 100%;
  }

  #menu-burger {
    margin-left: 20px;
    display: block;
  }

  /* media query du pied-de-page */

  .footer-items-row {
    flex-direction: column;
    gap: 20px;
  }

  .footer-item {
    justify-content: center;
  }

  .footer-title {
    font-size: 20px;
  }

  .footer-item p {
    font-size: 13px;
  }

  .footer-copy {
    font-size: 12px;
    padding-top: 10px;
  }

}


